<!-- // 
// * File: ship.component.html
// * Author: Tóth Júlia
// * Copyright: 2023,
// * Group: Szoft II N
// * Date: 2023-05-02
// * Github: https://github.com/haribomaci
// * Licenc: GNU GPL
//  -->

<div class="container">
    <h3>New Ship</h3>
    <form [formGroup]="shipForm">
      <div class="mb-3">
        <label for="name" class="form-label">Név</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="length" class="form-label">Hossz</label>
        <input type="text" class="form-control" id="length" formControlName="length">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Ár</label>
        <input type="text" class="form-control" id="price" formControlName="price">
      </div>
      <div class="mb-3">
        <label for="person" class="form-label">Person</label>
        <input type="text" class="form-control" id="person" formControlName="person">
      </div>
      <div class="mb-3">
        <label for="trailer" class="form-label">Trailer</label>
        <input type="text" class="form-control" id="trailer" formControlName="trailer">
      </div>
      <button type="button" class="btn btn-dark" (click)="onClick">New Ship</button>
    </form>
  </div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Név</th>
        <th scope="col">Hossz</th>
        <th scope="col">Ár</th>
        <th scope="col">Személy</th>
        <th scope="col">Trailer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ship of ships">
        <td>{{ship.name}}</td>
        <td>{{ship.length}}</td>
        <td>{{ship.price}}</td>
        <td>{{ship.person}}</td>
        <td>{{ship.trailer}}</td>
      </tr>
    </tbody>
  </table>

